* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header{
    display: flex;
    justify-content: flex-start;
    background-color: blueviolet;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}