body{
    margin: 0px;
}
.container{
    background-color: purple;
    height: 100vh;
}
.box{
    background-color: aliceblue;
    border: 2px solid;
    width: 50%;
    height: auto;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    max-width: 25%;
}
